@tailwind base;
@tailwind components;
@tailwind utilities;

/* Affiliate Banner Animation */
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideDown {
  animation: slideDown 0.5s ease-out;
}

/* EXPLANATION : woff : for compression and faster loading time */
@font-face {
  font-family: "inter-light";
  src: url("/fonts/inter/Inter_18pt-Light.ttf") format("woff2");
}

@font-face {
  font-family: "inter-regular";
  src: url("/fonts/inter/Inter_18pt-Regular.ttf") format("woff2");
}
@font-face {
  font-family: "inter-medium";
  src: url("/fonts/inter/Inter_18pt-Medium.ttf") format("woff2");
}

@font-face {
  font-family: "inter-semibold";
  src: url("/fonts/inter/Inter_18pt-SemiBold.ttf") format("woff2");
}
@font-face {
  font-family: "inter-bold";
  src: url("/fonts/inter/Inter_18pt-Bold.ttf") format("woff2");
}

.Toastify__toast--error.Toastify__toast {
  color: var(--error) !important;
}

.Toastify__toast--success.Toastify__toast {
  color: var(--success) !important;
}
.Toastify__toast--warning.Toastify__toast {
  color: var(--warning) !important;
}
.Toastify__toast-body {
  font-size: 0.9rem;
}

.Toastify__toast--error.Toast__progress_bar {
  background-color: var(--error) !important;
}

.Toastify__progress-bar--success {
  background-color: var(--success) !important;
}

.Toastify__progress-bar--error {
  background: var(--error) !important;
}
.Toastify__progress-bar--warning {
  background: var(--warning) !important;
}

.Toastify__toast--error .Toastify__toast-icon svg {
  fill: var(--error);
}
.Toastify__toast--success .Toastify__toast-icon svg {
  fill: var(--success);
}
.Toastify__toast--warning .Toastify__toast-icon svg {
  fill: var(--warning);
}

@layer components {
  .label-input-wrapper {
    @apply flex flex-col gap-[0.5rem];
  }
}

.PhoneInputCountrySelectArrow {
  @apply mx-3;
}

/* Aceternity UI Animations */
@keyframes first {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes second {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes third {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fourth {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes fifth {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.animate-first {
  animation: first 30s linear infinite;
}

.animate-second {
  animation: second 20s linear infinite;
}

.animate-third {
  animation: third 40s linear infinite;
}

.animate-fourth {
  animation: fourth 20s linear infinite;
}

.animate-fifth {
  animation: fifth 20s linear infinite;
}

.animate-fadeInRight {
  animation: fadeInRight 1s ease-out 0.5s both;
}

.animate-fadeInUp {
  animation: fadeInUp 1s ease-out both;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
